streamlit
requests
langchain
langchain-community
faiss-cpu
python-docx
sentence-transformers
pymupdf  # (For PDF Editing)
PyPDF2
huggingface-hub
numpy
pandas
matplotlib
seaborn
nltk
spacy
fpdf
reportlab
