streamlit
requests
langchain
faiss-cpu
python-docx
sentence-transformers
pymupdf  # (For PDF Editing)
PyPDF2
huggingface-hub
python-docx
google-generativeai
numpy
pandas
matplotlib
seaborn
nltk
spacy
fpdf
reportlab
