streamlit
requests
langchain
faiss-cpu
python-docx
sentence-transformers
pymupdf
PyPDF2
huggingface-hub
python-docx
google-generativeai  # ✅ Gemini ke liye ye add karo
numpy
pandas
matplotlib
seaborn
nltk
spacy
fpdf
reportlab
